/* src/styles/global.css or src/assets/global.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.tunnelSection-title1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}

.tunnelSection-title1.char {
  transform: translateY(115px) !important;
  transition: transform 0.5s;
}

.left-top-border {
  border-left: 2px solid transparent;
  border-image: linear-gradient(to top, #222b, transparent) 0 100;
}

.left-bottom-border {
  border-left: 2px solid transparent;
  border-image: linear-gradient(to bottom, #222b, transparent) 0 100;
}

.right-top-border {
  border-right: 2px solid transparent;
  border-image: linear-gradient(to top, #222b, transparent) 0 100;
}

.right-bottom-border {
  border-right: 2px solid transparent;
  border-image: linear-gradient(to bottom, #222b, transparent) 0 100;
}

.start-bottom-border {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to top, #222b, transparent) 0 100;
}

.glow-trapezoid {
  width: 78px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
      to bottom,
      #ffffff28 0%,
      #ffffff29 100%
    ),
    
      repeating-linear-gradient(
        0deg,
        #ffffff12 0px,
        #ffffff14 1px,
        #ffffff16 2px,
        transparent 3px
      );
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  opacity: 0.4;
  backdrop-filter: blur(10px);
  filter: blur(20px) contrast(1.5);
}
